.page-title {
	@include aligned-margin(3, $h1-size, 1.5);
}

article.post-entry {
	padding: $line-rhythm 0;

	.readmore:after {
		content: " »";
	}
}

.date-header {
	@include aligned-margin(1, 1rem, 1);
	line-height: 1;
}

.entry-title {
	//
}

.entry-content {
	p, ul, ol, blockquote {
		margin: ($line-rhythm/2) 0;
		line-height: 1.75;
	}

	hr {
		margin: ($line-rhythm/2) 0;
	}
}

.entry-meta {
	padding: $line-rhythm/2 0;
	font-family: $sans-font;
	color: $secondary-color;

	a { @include hover-link; }
	@include colored-link($secondary-color, 10%);

	ul {
		@include inline-block-list(0.25em);
	}

	.info { @include use-icon('鐘'); }
	.category { @include use-icon('庫'); }
	.tag { @include use-icon('籤'); }
	.link { @include use-icon('鏈'); }
	.translation { @include use-icon('語'); }
}

