body > footer {
	padding: ($line-rhythm * 1.5) 0;

	.copytext {
		@include span-columns-fluid(4, 6);
	}

	.social {
		@include span-columns-fluid(4 omega, 6 omega);
		@include horizontal-list(0.25rem, right);
		height: $line-rhythm;

		li {
			height: $line-rhythm;
			font-size: 1.5rem;
			line-height: 1;
		}

		a { text-decoration: none; }
		@include colored-link($secondary-color, $accent-color);

		a.link { @include use-icon('鏈'); }
		a.feed { @include use-icon('源'); }
		a.phone { @include use-icon('話'); }
		a.email { @include use-icon('郵'); }
		a.github { @include use-icon('\e641'); }
		a.flickr { @include use-icon('\e643'); }
		a.twitter { @include use-icon('\e647'); }
		a.facebook { @include use-icon('\e64b'); }
		a.googleplus { @include use-icon('\e64c'); }
		a.linkedin { @include use-icon('\e652'); }
		a.skype { @include use-icon('\e663'); }
		a.weibo { @include use-icon('\e666'); }
	}
}
