{% if LICENSE == '0' %}
<span class="cc0 icon"></span> {{ AUTHOR }} 以 <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a> 釋出至公眾領域
{% elif LICENSE %}
<span class="cc icon"></span>{% for item in LICENSE %}<span class="cc-{{ item|lower }} icon"></span>{% endfor %} 
{{ AUTHOR }} 保留部分權利，於 <a rel="license" href="http://creativecommons.org/licenses/{{ LICENSE|join('-')|lower }}/4.0/">CC {{ LICENSE|join('-')|upper }} 4.0</a> 條款下授權轉載
{% else %}
© {{ AUTHOR }} 版權所有，不得轉載
{% endif %}
