{% if DISQUS_SITENAME and SITEURL %}
<h2>留言</h2>
<div id="disqus_thread"></div>
<script type="text/javascript">
	var disqus_config = function() {
		this.page.identifier = "{{ article.url }}";
		this.page.url = "{{ SITEURL }}/{{ article.url }}";
	};
	(function() {
	var d = document; var s = d.createElement('script');
	s.setAttribute('data-timestamp', +new Date()); s.async = true;
	s.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
	(d.head || d.body).appendChild(s);
	})();
</script>
{% endif %}
