.page-title {
	margin: $line-rhythm 0;
}

* + .content {
	margin-top: -$line-rhythm;
}

article.post-entry {
	padding: $line-rhythm 0;

	&+& {
		border-top: $separator;
		margin-top: -1px;
	}

	&.single {
		margin-bottom: -$line-rhythm;
	}

	.readmore:after {
		content: " »";
	}
}

.date-header {
	@include aligned-margin(1, 1rem, 1);
	line-height: 1;
}

.entry-title {
	@include colored-link($accent-color, -5%);
}

.entry-content {
	p, ul, ol, blockquote, hr, pre {
		margin: ($line-rhythm/2) 0;

		blockquote & {
			margin: 0;
		}
	}
	p, ul, ol, blockquote {
		line-height: 1.75;
	}

	blockquote {
		padding-left: 1em;
		@include at-breakpoint($medium) { padding-left: 2em; }

		color: lighten($text-color, 10%);
	}

	.footnote a em {
		font-family: inherit;
		font-style: italic; /* workaround */
	}
}

.entry-meta {
	padding: $line-rhythm/2 0;
	color: $secondary-color;

	@include colored-link($secondary-color, -10%);

	ul {
		@include inline-block-list(0.25em);
	}

	.info { @include use-icon('鐘'); }
	.category { @include use-icon('庫'); }
	.tag { @include use-icon('籤'); }
	.link { @include use-icon('鏈'); }
	.translation { @include use-icon('語'); }
}
