// Fonts declaration
$sans-font: "Noto Sans", Ubuntu, Tahoma,
            "XinGothic-TC", "Hiragino Sans GB", "Heiti TC", "Heiti SC",
						"Microsoft Jhenghei", "Microsoft Yahei", sans-serif;

$serif-font: Optima, "Book Antiqua", Century,
             "Songti TC", "Songti SC", serif;

$cursive-font: Baskerville, "Baskerville Old Face", Georgia, cursive,
               "Kaiti TC", "Kaiti SC", "標楷體", "DFKai-SB", serif;

$mono-font: Menlo, Inconsolata, Monaco, Consolas, Courier, monospace;
