// Fonts declaration
$sans-font: "Noto Sans", Ubuntu, Tahoma,
            "PingFang TC", "Source Han Sans TC", "Noto Sans CJK TC",
            "Microsoft Jhenghei", sans-serif;

$serif-font: Optima, "Book Antiqua", Century,
             "Songti TC", "Songti SC", serif;

$cursive-font: Baskerville, "Baskerville Old Face", Georgia, cursive,
               "Kaiti TC", "標楷體", "DFKai-SB", serif;

$mono-font: Menlo, Inconsolata, Monaco, Consolas, Courier, monospace;
