body > footer {
	padding: ($line-rhythm * 1.5) 0;

	color: darken($secondary-color, 10%);
	@include colored-link(mix($accent-color, $secondary-color, 20%), -10%);

	address {
		font-size: 1rem;
		font-style: normal;
		font-weight: normal;
		text-align: center;
	}

	.copytext {
		line-height: 1.75;

		@include at-breakpoint($large) {
			float: left;
			text-align: left;
		}

		.cc { @include use-icon('C'); }
		.cc-by { @include use-icon('B'); }
		.cc-nc { @include use-icon('N'); }
		.cc-sa { @include use-icon('S'); }
		.cc-nd { @include use-icon('D'); }
		.public { @include use-icon('P'); }
		.cc0 { @include use-icon('0'); }
	}

	.social {
		margin: ($line-rhythm/2) 0;
		height: $line-rhythm;

		@include inline-block-list(0.25rem);
		@include at-breakpoint($large) {
			margin: 0;
			@include horizontal-list(0.25rem, right);
		}

		li {
			margin: 0.125rem auto;
			font-size: 1.5rem;
			line-height: 1;
		}

		a { text-decoration: none; }
		@include colored-link($secondary-color, $accent-color);

		a.link { @include use-icon('鏈'); }
		a.feed { @include use-icon('源'); }
		a.phone { @include use-icon('話'); }
		a.email { @include use-icon('郵'); }
		a.github { @include use-icon('\e641'); }
		a.flickr { @include use-icon('\e643'); }
		a.twitter { @include use-icon('\e647'); }
		a.facebook { @include use-icon('\e64b'); }
		a.googleplus { @include use-icon('\e64c'); }
		a.linkedin { @include use-icon('\e652'); }
		a.skype { @include use-icon('\e663'); }
		a.weibo { @include use-icon('\e666'); }
	}
}
